body {
  background-color: #F0F0F0;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

img {
  width: 100%;
}

.site_logo {
  width: 100px;
  line-height: 1;
}

.container {
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}

.sec_title {
  margin-bottom: 50px;
}
.sec_title span {
  display: block;
}
.sec_title .english_sec_title {
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 10px;
  letter-spacing: 8px;
}
.sec_title .japanese_sec_title {
  font-size: 0.875rem;
  margin-bottom: 36px;
}
.sec_title::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: black;
  display: block;
}

header {
  width: 100vw;
  height: 80px;
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
}
header .header_wrap {
  display: flex;
  margin-left: 90px;
}
@media (max-width: 900px) {
  header .header_wrap {
    display: block;
    margin-left: 16px;
  }
}
header .site_logo {
  width: 100px;
  line-height: 1px;
  margin-right: 60px;
}
@media (max-width: 900px) {
  header .site_logo {
    margin-bottom: 7px;
  }
}
header .header_nav {
  display: flex;
  align-items: center;
}
header .header_nav_list {
  display: flex;
}
header .header_nav li + li {
  margin-left: 30px;
}
header .header_contact {
  width: 200px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: white;
  background-color: black;
  display: inline-block;
  margin-left: auto;
}
header .header_contact:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 900px) {
  header .header_contact {
    display: none;
  }
}

.mainvisual {
  margin-bottom: 120px;
}
.mainvisual img {
  height: calc(100vh - 80px);
  object-fit: cover;
}

.news_list {
  font-size: 0.85rem;
  margin-bottom: 120px;
  display: flex;
}
.news_list li {
  width: 33.3333333333%;
  padding: 10px 0;
}
.news_list li + li {
  padding-left: 20px;
  border-left: 1px solid black;
}
.news_list .date_area {
  margin-bottom: 16px;
}
.news_list .date_area span {
  font-size: 0.875rem;
  background-color: black;
  color: white;
  padding: 0px 7px;
}
@media (max-width: 900px) {
  .news_list {
    display: block;
    margin-bottom: 90px;
  }
  .news_list li + li {
    padding-left: 0;
    border-left: none;
    margin-top: 36px;
  }
}

.about_wrap {
  display: flex;
  margin-bottom: 120px;
}
@media (max-width: 900px) {
  .about_wrap {
    display: block;
    margin-bottom: 80px;
  }
}
.about_wrap .about_pic {
  width: 55%;
}
@media (max-width: 900px) {
  .about_wrap .about_pic {
    width: 100vw;
  }
}
.about_wrap .about_text {
  width: 45%;
  font-size: 0.875rem;
  padding: 180px 5% 0 5%;
}
.about_wrap .about_text p {
  line-height: 2rem;
}
@media (max-width: 900px) {
  .about_wrap .about_text {
    width: 100%;
    padding: 30px 16px 0;
  }
}

.business_wrap {
  padding: 0 100px 0;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .business_wrap {
    padding: 0;
    flex-direction: column;
  }
}
.business_wrap .business_wrap_left {
  margin-top: 100px;
}
@media (max-width: 900px) {
  .business_wrap .business_wrap_left {
    margin: 0;
  }
}
.business_wrap .business_wrap_left,
.business_wrap .business_wrap_right {
  width: calc((100% - 64px) / 2);
}
@media (max-width: 900px) {
  .business_wrap .business_wrap_left,
.business_wrap .business_wrap_right {
    width: 100%;
  }
}
.business_wrap .business_item {
  margin-bottom: 50px;
}
.business_wrap .business_item p {
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0 0 10px 18px;
  position: relative;
}
.business_wrap .business_item p::before {
  content: "";
  width: 8px;
  height: 1px;
  background-color: black;
  display: block;
  position: absolute;
  top: 50%;
  left: -18px;
}

.company_wrap {
  display: flex;
  position: relative;
  margin-bottom: 110px;
}
@media (max-width: 900px) {
  .company_wrap {
    position: static;
    flex-direction: column;
  }
}
.company_wrap .company_wrap_text {
  width: 55%;
  background-color: white;
  padding: 100px 0 100px 48px;
}
@media (max-width: 900px) {
  .company_wrap .company_wrap_text {
    width: 100%;
    padding: 40px 20px;
  }
}
.company_wrap .company_info {
  font-size: 0.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .company_wrap .company_info {
    flex-direction: column;
  }
}
.company_wrap .company_info dt {
  width: 20%;
  font-weight: normal;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .company_wrap .company_info dt {
    margin: 20px 0 0 0;
  }
  .company_wrap .company_info dt:first-of-type {
    margin-top: 0;
  }
}
.company_wrap .company_info dd {
  width: 80%;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .company_wrap .company_info dd {
    margin: 10px 0 0 16px;
  }
}
.company_wrap .company_info .add {
  margin-left: auto;
}
@media (max-width: 900px) {
  .company_wrap .company_info .add {
    margin: 10px 0 0 16px;
  }
}
.company_wrap .company_wrap_pic {
  width: 53%;
  position: absolute;
  top: 115px;
  right: 0;
}
@media (max-width: 900px) {
  .company_wrap .company_wrap_pic {
    position: static;
    width: 100%;
    margin-top: 20px;
  }
}
.company_wrap .company_wrap_pic img {
  height: 400px;
  object-fit: cover;
}

.footer {
  background-color: white;
  color: black;
  padding-bottom: 20px;
}
.footer .flex {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .footer .flex {
    flex-direction: column;
    align-items: normal;
  }
}
@media (max-width: 900px) {
  .footer .site_logo {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
