//変数定義してみた
$main-color: #F0F0F0;
$header-hight: 80px;
$text-font-size: 0.875rem;

@mixin mq{
  @media(max-width: 900px){
    @content;
  }
}

body {
  background-color: $main-color;
}
img {
  width: 100%;
}

//ヘッダーとフッターのロゴ
.logo {
  width: 100px;
  line-height: 1;
}

//横幅を固定するコンテナ
.container {
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}

//各セクションタイトルに適用する
.sec_title {
  margin-bottom: 50px;
  span {
    display: block;
  }
  .en {
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 10px;
    letter-spacing: 8px;
  }
  .ja {
    font-size: $text-font-size;
    margin-bottom: 36px;
  }
  &::after {
    content:"";
    width: 40px;
    height: 1px;
    background-color: black;
    display: block;
  }
}

//ヘッダー
header {
  width: 100vw;
  height: $header-hight;
  background-color: $main-color;
  display: flex;
  align-items: center;

  .header_wrap {
    display: flex;
    margin-left: 90px;

    @include mq {
      display: block;
      margin-left: 16px;
    }
  }

  .logo {
    width: 100px;
    line-height: 1px;
    margin-right: 60px;
    @include mq {
      margin-bottom: 7px;
    }
  }

  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
    }
    li + li {
      margin-left: 30px;
    }
  }

  .contact {
    width: 200px;
    height: $header-hight;
    line-height: $header-hight;
    text-align: center;
    color: white;
    background-color: black;
    display: inline-block;
    margin-left: auto;
    @include mq {
      display: none;
    }
  }
}

//メインビジュアル
.mainvisual {
  margin-bottom: 120px;

  img {
    height: calc(100vh - $header-hight);
    object-fit: cover;  
  }
}

//ニュースセクションのニュースリスト
.news_list {
  font-size: 0.85rem;
  margin-bottom: 120px;
  display: flex;
  li {
    width: calc(100% / 3);
    padding: 10px 0;
  }
  li + li {
    padding-left: 20px;
    border-left: 1px solid black;
  }
  .date_area {
    margin-bottom: 16px;

    span {
      font-size: $text-font-size;
      background-color: black;
      color: white;
      padding: 0px 7px;
    }
  }
  @include mq {
    display: block;
    margin-bottom: 90px;

    li + li {
      padding-left: 0;
      border-left: none;
      margin-top: 36px;
    }
  }
}

//アバウトセクション
.about_wrap {
  $about_pic_width: 55%; //ここで変数は定義しない方が良い？
  display: flex;
  margin-bottom: 120px;  
  @include mq {
    display: block;
    margin-bottom: 80px;
  }
  .about_pic {
    width: $about_pic_width;
    @include mq {
      width: 100vw;
    }
  }
  .about_text {
    width: calc(100% - $about_pic_width);
    font-size: $text-font-size;
    padding: 180px 5% 0 5%;
    p {
      line-height: 2rem;
    }
    @include mq {
      width: 100%;
      padding: 30px 16px 0;
    }
  }
}

//ビジネスセクション
.business_wrap {
  padding: 0 100px 0 ;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  @include mq {
    padding: 0;
    flex-direction: column;
  }
  .left {
    margin-top: 100px;
    @include mq {
      margin: 0;
    }
  }
  .left,
  .right {
    width: calc((100% - 64px) / 2);
    @include mq {
      width: 100%;
    }
  }
  .business_item {
    margin-bottom: 50px;
    p {
      font-size: $text-font-size;
      font-weight: bold;
      margin: 0 0 10px 18px;
      position: relative;
    }
    p::before {
      content: "";
      width: 8px;
      height: 1px;
      background-color: black;
      display:block;
      position: absolute;
      top: 50%;
      left: -18px;
    }
  }
}

.company_wrap {
  display: flex;
  position: relative;
  margin-bottom: 110px;
  @include mq {
    position: static;
    flex-direction: column;
  }
  .text {
    width: 55%;
    background-color: white;
    padding: 100px 0 100px 62px;
    @include mq {
      width: 100%;
      padding: 40px 20px;
    }
  }

  .info {
    font-size: $text-font-size;
    display: flex;
    flex-wrap: wrap;
    @include mq {
      flex-direction: column;
     }
    dt {
      width: 20%;
      font-weight: normal;
      margin-bottom: 10px;
      @include mq {
        margin: 20px 0 0 0;
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
    dd {
      width: 80%;
      margin-bottom: 10px;
      @include mq {
        margin: 10px 0 0 16px;
      }
    }
    .add {
      margin-left: auto;
      @include mq {
        margin: 10px 0 0 16px;
      }
    }
  }

  .company_pic {
    width: 53%;
    position: absolute;
    top: 115px;
    right: 0;
    @include mq {
      position: static;
      width: 100%;
      margin-top: 20px;
    }
    img{
      height: 400px;
      object-fit: cover;     
    }
  }
}

//footer
.footer {
  background-color: white;
  color: black;
  padding-bottom: 20px;

  .flex {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;  //左右も中央揃えになる？
    @include mq {
      flex-direction: column;
      align-items: normal;
    }
  }
  .logo {
    @include mq {
      margin-bottom: 10px;
    }
  }

  //こっちの方が良い？
  // @include mq {
  //   .logo {
  //     margin-bottom: 10px;
  //   }
  // }
}